*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib64
__pycache__

# My configurations:
uwsgi.log
uwsgi.pid

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

.idea
logs/
media/
ticket/migrations/
logging/error.log
logging/info.log
logging/warn.log
logging/request.log
logging/my_scheduled_job.log
.DS_Store
*.pyc