{% extends "ticket/base_site.html" %}
{% block head %}
<style>
    .col-center-block {
        float: none;
        display: block;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
    }
</style>
{% endblock %}
{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="offset-md-2 col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4 class="card-title text-uppercase">PEMSTicket Password</h4>
                </div>
                <div class="card-body">
                    <form class="needs-validation" method="POST" id="changePasswordForm" novalidate>
                        <div class="form-group">
                            <label for="old_password" class="control-label">原密码</label>
                            <input type="text" class="form-control" id="old_password" name="old_password"
                                   placeholder="原密码" required>
                            <div class="invalid-feedback">
                                原密码
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="newpassword">修改密码</label>
                            <input type="password" class="form-control" id="newpassword" name="newpassword"
                                   placeholder="修改密码" required>
                            <div class="invalid-feedback">
                                修改密码
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="confirmpassword">确认密码</label>
                            <input type="password" class="form-control" id="confirmPassword" name="confirmpassword"
                                   placeholder="确认密码" required>
                            <div class="invalid-feedback">
                                确认密码
                            </div>
                        </div>
                    </form>
                    <button class="btn btn-danger" onclick="changePassword()">确认修改</button>
                    <button class="btn btn-primary"><a href="../../../api/home/" class="text-white">返回</a></button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    function changePassword() {
        var old_password = $("#old_password").val();
        var newpassword = $("#newpassword").val();
        var confirmpassword = $("#confirmPassword").val();
        if (newpassword != confirmpassword) {
            alert('两次密码不一致')
            return
        }
        var postdata = {'old_password': old_password, 'new_password': newpassword}
        $.ajax({
            url: "../../../api/change/password/",
            type: "POST",
            data: postdata,
            success: function (data) {
                if (data['error'] != null) {
                    window.location.href = location.href
                    alert(data['error'])
                } else {
                    window.location.href = location.href
                    alert(data['success'])
                }
            }
        });
    }
</script>
{% endblock %}