{% extends "ticket/base_site.html" %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{rootUrl}}/api/home/">首页</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{rootUrl}}/api/ticket/create/">提交工单</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    工单列表
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item"
                       href="{{rootUrl}}/api/ticket/myticket/?page=1&status=4&dateType=100">我的工单</a>
                    <a class="dropdown-item" href="{{rootUrl}}/api/ticket/list/?page=1&status=4&dateType=100">工单列表</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarTicket" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    工单设置
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">工单模型(待开发)</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="{{rootUrl}}/api/logout/">
        <span class="navbar-text" style="margin-right: 30px;">
      您好，{{ user.nickname }}
    </span>
            <button type="submit" class="btn btn-primary btn-sm">退出登录</button>
        </form>
    </div>
</nav>
<div class="d-flex justify-content-center mr-3 ml-3" style="margin-top: 90px;">
    <div class="input-group mr-3 ml-3">
        <input type="text" class="form-control" placeholder="请输入工单号吗" id="ticket_id" name="ticket_id"
               aria-label="Recipient's username with two button addons" aria-describedby="button-addon4">
        <div class="input-group-append" id="button-addon4">
            <button class="btn btn-outline-secondary" type="button" onclick="postTicket()">提交工单</button>
            <button class="btn btn-outline-secondary" type="button" onclick="searchTicket()">查询工单</button>
        </div>
    </div>
</div>
<div class="bg-white border rounded d-block p-4 h-auto w-95 ml-2 mr-2 flex-row d-flex justify-content-around"
     style="margin-top: 20px;">
    <div class="d-flex flex-column bd-highlight w-50 mr-3 h-auto border border-primary shadow-sm bg-white rounded">
        <div class="w-100 text-center bg-primary" style="height: 40px;">
            <p class="text-white pt-2">未解决工单</p>
        </div>
        {% for actions_ticket in actions_tickets%}
        <div class="w-100 text-left bg-white" style="height: 40px;">
            <p class="text-white pt-2 border-bottom pl-3" style="height: 40px;"><a
                    href="{{rootUrl}}/api/ticket/detail/?ticket_id={{actions_ticket.ticket_id}}">{{actions_ticket.ticket_title}}</a>
            </p>
        </div>
        {% endfor %}
        {% if actions_tickets.count == 10 %}
        <div class="w-100 text-center bg-white" style="height: 40px;">
            <p class="text-white pt-2"><a
                    href="{{rootUrl}}/api/ticket/server/all/?ticket_status=1" target="_blank">查看全部</a></p>
        </div>
        {% endif %}
    </div>
    <div class="d-flex flex-column bd-highlight w-50 mr-3 h-auto border border-warning shadow-sm bg-white rounded">
        <div class="w-100 text-center bg-warning" style="height: 40px;">
            <p class="text-white pt-2">待审核工单</p>
        </div>
        {% for actions_ticket in todo_actions_tickets%}
        <div class="w-100 text-left bg-white" style="height: 40px;">
            <p class="text-white pt-2 border-bottom pl-3" style="height: 40px;"><a
                    href="{{rootUrl}}/api/ticket/detail/?ticket_id={{actions_ticket.ticket_id}}">{{actions_ticket.ticket_title}}</a>
            </p>
        </div>
        {% endfor %}
        {% if todo_actions_tickets.count == 10 %}
        <div class="w-100 text-center bg-white" style="height: 40px;">
            <p class="text-white pt-2"><a
                    href="{{rootUrl}}/api/ticket/server/all/?ticket_status=2" target="_blank">查看全部</a></p>
        </div>
        {% endif %}
    </div>
    <div class="d-flex flex-column bd-highlight w-50 mr-3 h-auto border border-info shadow-sm bg-white rounded">
        <div class="w-100 text-center bg-info" style="height: 40px;">
            <p class="text-white pt-2">待部署工单</p>
        </div>
        {% for actions_ticket in todo_pubtime_tickets%}
        <div class="w-100 text-left bg-white" style="height: 40px;">
            <p class="text-white pt-2 border-bottom pl-3" style="height: 40px;"><a
                    href="{{rootUrl}}/api/ticket/detail/?ticket_id={{actions_ticket.ticket_id}}">{{actions_ticket.ticket_title}}</a>
            </p>
        </div>
        {% endfor %}
        {% if todo_actions_tickets.count == 10 %}
        <div class="w-100 text-center bg-white" style="height: 40px;">
            <p class="text-white pt-2"><a
                    href="{{rootUrl}}/api/ticket/server/all/?ticket_status=2" target="_blank">查看全部</a></p>
        </div>
        {% endif %}
    </div>

    <div class="d-flex flex-column bd-highlight w-50 mr-3 h-auto border border-success shadow-sm bg-white rounded">
        <div class="w-100 text-center bg-success" style="height: 40px;">
            <p class="text-white pt-2">已完成工单</p>
        </div>
        {% for done_ticket in done_tickets%}
        <div class="w-100 text-left bg-white" style="height: 40px;">
            <p class="text-white pt-2 border-bottom pl-3" style="height: 40px;"><a
                    href="{{rootUrl}}/api/ticket/detail/?ticket_id={{done_ticket.ticket_id}}">{{done_ticket.ticket_title}}</a>
            </p>
        </div>
        {% endfor %}
        {% if todo_actions_tickets.count == 10 %}
        <div class="w-100 text-center bg-white" style="height: 40px;">
            <p class="text-white pt-2"><a
                    href="{{rootUrl}}/api/ticket/server/all/?ticket_status=3" target="_blank">查看全部</a></p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    function postTicket(ticket_status) {
        var urls = location.href.split('/')
        window.location.href = urls[0] + '/api/ticket/create';
    }
    function searchTicket(ticket_status) {
        var urls = location.href.split('/')
        var get_url = urls[0] + '/api/ticket/detail/?ticket_id=' + $("#ticket_id").val();

        $.ajax({
            url: get_url,
            type: "GET",
            data: null,
            success: function (result) {
                if (result['error'] != null) {
                    alert('查询数据失败')
                } else {
                    window.location.href = get_url
                }
            },
            fail: function () {
                alert('查询数据失败')
            }
        });
    }
</script>
{% endblock %}