{% extends "ticket/base_site.html" %}
{% block head %}
<style>
    .col-center-block {
        float: none;
        display: block;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
    }
</style>{% endblock %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    {% if user.status == 1 %}
    <a class="navbar-brand" href="{{rootUrl}}/api/home/">首页</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    {% endif %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if user.status == 0 %}
            <li class="nav-item">
                <a class="nav-link" href="{{rootUrl}}/api/home/">首页</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{rootUrl}}/api/ticket/create/">提交工单</a>
            </li>
            {% endif %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    工单列表
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item"
                       href="{{rootUrl}}/api/ticket/myticket/?page=1&status=4&dateType=100">我的工单</a>
                    <a class="dropdown-item" href="{{rootUrl}}/api/ticket/list/?page=1&status=4&dateType=100">工单列表</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarTicket" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    工单设置
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">工单模型(待开发)</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="{{rootUrl}}/api/logout/">
        <span class="navbar-text" style="margin-right: 30px;">
      您好，{{ user.nickname }}
    </span>
            <div class="btn-group btn-sm" role="group">
                <button id="btnGroupDrop1" type="button" class="btn dropdown-toggle text-secondary" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    用户设置
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item text-secondary" href="{{rootUrl}}/api/change/password/">修改密码</a>
                    <a class="dropdown-item text-secondary" href="{{rootUrl}}/api/change/email/">修改邮箱</a>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-sm">退出登录</button>
        </form>
    </div>
</nav>
<div class="bg-white border rounded d-block p-4 h-auto w-95 ml-2 mr-2" style="margin-top: 60px;">
    <div class="flex-column d-flex bg-light justify-content-start">
        <div class="flex-row d-flex justify-content-between">
            <div class="flex-row d-flex justify-content-start">
                <p class="font-weight-light">工单编号：</p>
                {% if ticket.ticket_show_id != ''%}
                <p class="font-weight-bold">{{ticket.ticket_show_id}}</p>
                {% else %}
                <p class="font-weight-bold">{{ticket.ticket_id}}</p>
                {% endif %}
            </div>
            <div class="flex-row d-flex justify-content-start">
                <p class="font-weight-light">应执行天数：</p>
                <p class="font-weight-bold">{{ticket.handel_time}}</p>
            </div>
            <div class="flex-row d-flex justify-content-start">
                <p class="font-weight-light">实际执行天数：：</p>
                {% if ticket.ticket_status == 3 %}
                <p class="font-weight-bold text-success">{{ticket.done_time}}</p>
                {% else %}
                <p class="font-weight-bold font-italic text-danger">未完成</p>
                {% endif %}
            </div>
        </div>
        <div class="flex-row d-flex justify-content-between">
            <div class="flex-row d-flex justify-content-start">
                <p class="font-weight-light">问题标题：</p>
                <p class="font-weight-bold">{{ticket.ticket_title}}</p>
            </div>
            <div class="flex-row d-flex justify-content-start">
                <p class="font-weight-light">创建时间：</p>
                <p class="font-weight-bold">{{ticket.create_time}}</p>
            </div>
            <div class="flex-row d-flex justify-content-start">
                <p class="font-weight-light">工单状态：</p>
                {% if ticket.ticket_status == 3 %}
                <p class="font-weight-bold text-success">完成</p>
                {% else %}
                <p class="font-weight-bold font-italic text-danger">未处理</p>
                {% endif %}
            </div>
        </div>
        <div class="flex-row d-flex justify-content-between">
            <div class="flex-row d-flex justify-content-start">
                <p class="font-weight-light">工单类型：</p>
                <p class="font-weight-bold">{{ticket.ticket_model_ticket}}</p>
            </div>
            <div class="flex-row d-flex justify-content-start">
                <p class="font-weight-light">创建人：</p>
                <p class="font-weight-bold">{{ticket.ticket_create_user}}</p>
            </div>
            <div class="flex-row d-flex justify-content-start">
                <p class="font-weight-light">紧急转态：</p>
                {% if ticket.ticket_lev == 0 %}
                <p class="font-weight-bold text-success">一般</p>
                {% else %}
                <p class="font-weight-bold font-italic text-danger">紧急</p>
                {% endif %}
            </div>
        </div>
        <div class="flex-row d-flex justify-content-between">
            <div class="flex-row d-flex justify-content-start">
                <p class="font-weight-light">测试机部署时间：</p>
                <p class="font-weight-bold">{{ticket.dev_push_time}}</p>
            </div>
            <div class="flex-row d-flex justify-content-start">
                <p class="font-weight-light">生产机部署时间：</p>
                <p class="font-weight-bold">{{ticket.pub_push_time}}</p>
            </div>
        </div>
        <div class="flex-row d-flex justify-content-start">
            <label>工单详细描述：</label>
        </div>
        <div class="flex-row d-flex justify-content-start">
            <p class="font-weight-bold border p-2">{{ticket.ticket_desc}}</p>
        </div>
        {% if ticket.ticket_remark != '' %}
        <div class="flex-row d-flex justify-content-start">
            <label>备注：</label>
        </div>
        <div class="flex-row d-flex justify-content-start">
            <p class="font-weight-bold border p-2">{{ticket.ticket_remark}}</p>
        </div>
        {% endif %}
        {% if ticket.ticket_file != None and ticket.file_name != 'None' %}
        <div class="flex-row d-flex justify-content-start mb-3">
            <a href="{{rootUrl}}/media/{{ticket.ticket_file}}" target="_blank">
                <button type="button" class="btn btn-primary btn-sm"
                >附件({{ticket.file_name}})
                </button>
            </a>
        </div>
        {% endif %}
    </div>
</div>
<div class="bg-white border rounded d-block p-4 h-auto w-95 mt-4 ml-2 mr-2">
    <div class="flex-row d-flex justify-content-start">
        <p class="font-weight-bold">处理记录</p>
    </div>
    {% for confirm in confirms %}
    <div class="flex-column d-flex justify-content-start mt-1 ml-2 mr-2 border-bottom">
        <div class="d-flex justify-content-between w-100">
            <div class="flex-row d-flex justify-content-between">
                <p class="font-weight-light">处理人：</p>
                <p class="font-weight-bold">{{confirm.user}}</p>
            </div>
            <div class="flex-row d-flex justify-content-start">
                <p class="font-weight-light">提交时间：</p>
                <p class="font-weight-bold">{{confirm.confirm_time}}</p>
            </div>
            <div class="flex-row d-flex justify-content-start">
                <p class="font-weight-light">状态：</p>
                {% if confirm.status == 1 %}
                {% if confirm.check == 1 %}
                {% if ticket.pub_push_time == None %}
                <p class="font-weight-bold text-info">待部署</p>
                {% else %}
                <p class="font-weight-bold text-success">已完成</p>
                {% endif %}
                {% else %}
                <p class="font-weight-bold text-warning">待审核</p>
                {% endif %}
                {% else %}
                <p class="font-weight-bold font-italic text-danger">未处理</p>
                {% endif %}
            </div>
        </div>
        {% if confirm.status == 1 %}
        {% if confirm.transfer == 1 %}
        <div class="flex-row d-flex justify-content-between">
            <p class="font-weight-light">已转派</p>
        </div>
        {%else%}
        <div class="flex-row d-flex justify-content-between">
            <p class="font-weight-light">执行时间：{{confirm.handel_time}}</p>
        </div>
        <div class="flex-row d-flex justify-content-start">
            <label for="formFile">处理内容：</label>
        </div>
        <div class="flex-row d-flex justify-content-start">
            <p class="font-weight-bold border p-2">{{confirm.content}}</p>
        </div>
        {% if confirm.confirm_remark != '' %}
        <div class="flex-row d-flex justify-content-start">
            <label>备注：</label>
        </div>
        <div class="flex-row d-flex justify-content-start">
            <p class="font-weight-bold border p-2">{{confirm.confirm_remark}}</p>
        </div>
        {% endif %}
        {% if confirm.confirm_file != None and confirm.file_name != 'None' %}
        <div class="flex-row d-flex justify-content-start mb-3">
            <a href="{{rootUrl}}/media/{{confirm.confirm_file}}" target="_blank">
                <button type="button" class="btn btn-primary btn-sm"
                >附件({{confirm.file_name}})
                </button>
            </a>
        </div>
        {% endif %}
        {% endif %}
        {% endif %}
    </div>
    {% endfor %}
</div>
<div class="bg-white border rounded d-block p-4 h-auto w-95 mt-4 ml-2 mr-2">
    {% if user_confirm.check == 1 and user_confirm.transfer != 1 and ticket.ticket_status != 3 %}
    <form class="w-100 needs-validation ticketForm" action="{{location.href}}" method="POST" id="ticketFormPush"
          enctype="multipart/form-data">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="date1">生产机部署时间</label>
                <input type="text" class="form-control" id="data2" name="pub_push_time" placeholder="生产机部署时间">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">确定</button>
    </form>
    {%elif ticket.ticket_status != 3 %}
    <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="invalidCheck2"
                   onchange="changeValue(this)" name="check_box">
            <label class="form-check-label" for="invalidCheck2">
                是否转派给其他人员
            </label>
        </div>
    </div>
    <form class="w-100 needs-validation ticketForm1" action="{{location.href}}" method="POST" id="trainForm"
          enctype="multipart/form-data" style="display: none">
        <div class="flex-column mt-2 mb-2">
            <label for="exampleFormControlSelect2">部门选择</label>
            <select class=" custom-select" id="inputGroupSelect01">
                <option selected>选择部门</option>
                {% for department in departments %}
                <option value="{{department.partment_code}}">{{department.partment_desc}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect2">人员列表</label>
            <select multiple class="form-control" id="exampleFormControlSelect2" name="listsort">
                {% for user in users %}
                <option>{{user.nickname}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="selectUser">已选择人员</label>
            <div class="d-flex flex-row bd-highlight mb-3" id="selectUser">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">确定</button>
    </form>
    <form class="w-100 needs-validation ticketForm" action="{{location.href}}" method="POST" id="ticketForm"
          enctype="multipart/form-data">
        <div class="form-group">
            <label for="exampleFormControlTextarea1">处理内容</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                      name="ticket_content" placeholder="处理内容" required></textarea>
            <div class="invalid-feedback">
                请输入处理内容
            </div>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea2">备注</label>
            <textarea class="form-control" id="exampleFormControlTextarea2" rows="3" placeholder="请输入备注"
                      name="confirm_remark"></textarea>
            <div class="invalid-feedback">
                备注
            </div>
        </div>
        <div class="form-group">
            <label for="number_time">执行天数</label>
            <input class="form-control" id="number_time" type="number" step="0.1" placeholder="请输入执行时间"
                   name="handel_time" required></input>
            <div class="invalid-feedback">
                请输入执行时间
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="date1">测试机部署时间</label>
                <input type="text" class="form-control" id="date1" name="dev_push_time" placeholder="测试机部署时间">
            </div>
        </div>
        <div class="form-group">
            <label for="formFile">请选择上传文件</label>
            <input type="file" class="form-control-file" id="formFile" , name="file_data" value="选择文件" multiple>
        </div>
        <button type="submit" class="btn btn-primary">确定</button>
    </form>
    {%endif%}
</div>
{% endblock %}

{% block js %}
<script>



    //执行一个laydate实例
    laydate.render({
        elem: '#date1', //指定元素
    });

    //执行一个laydate实例
    laydate.render({
        elem: '#data2', //指定元素
    });

    function changeValue(checkbox) {
        if (checkbox.checked == true) {
            $("#trainForm").show();
            $("#ticketForm").hide();
        } else {
            $("#trainForm").hide();
            $("#ticketForm").show();
        }
    }


    $("select#inputGroupSelect01").change(function () {
        var getdata = {"department_code": $(this).val()}
        var get_url = '../../../../api/ticket/create/department/user/'
        $.ajax({
            url: get_url,
            type: "GET",
            data: getdata,
            success: function (res) {
                console.log(res['user_list'].length)
                var strs = ''
                $("#exampleFormControlSelect2").empty();
                for (var i = 0; i < res['user_list'].length; i++) {
                    var user = res['user_list'][i]
                    var nickname = user["nickname"]
                    var user_id = user["user_id"]
                    strs = strs + "<option value=" + user_id + ">" + nickname + "</option>"
                }
                $("#exampleFormControlSelect2").html(strs);

            }
        });
    });

    $("select#exampleFormControlSelect2").change(function () {
        var users = []
        var obj = document.getElementById("exampleFormControlSelect2");
        console.log(obj)
        console.log(document.getElementById("selectData"));

        for (var i = 0; i < obj.options.length; i++) {
            if (obj.options[i].selected) {
                var user = {'user_id': obj.options[i].value, 'nickname': obj.options[i].text}
                users.push(user);// 收集选中项
            }
        }
        var strs = ''
        for (var i = 0; i < users.length; i++) {
            var nickname = users[i]['nickname']
            var user_id = users[i]['user_id']
            strs = strs + "<options id='selectData' class='p-2 bd-highlight' value=" + user_id + ">" + nickname + "</options>"
        }
        $("#selectUser").html(strs)

    });

</script>

{% endblock %}


