{% extends "ticket/base_site.html" %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{rootUrl}}/api/home/">首页</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{rootUrl}}/api/ticket/create/">提交工单</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    工单列表
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item"
                       href="{{rootUrl}}/api/ticket/myticket/?page=1&status=4&dateType=100">我的工单</a>
                    <a class="dropdown-item" href="{{rootUrl}}/api/ticket/list/?page=1&status=4&dateType=100">工单列表</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarTicket" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    工单设置
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">工单模型(待开发)</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="{{rootUrl}}/api/logout/">
        <span class="navbar-text" >
      您好，{{ user.nickname }}
    </span>
            <div class="btn-group btn-sm" role="group">
                <button id="btnGroupDrop1" type="button" class="btn dropdown-toggle text-secondary" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    用户设置
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item text-secondary" href="{{rootUrl}}/api/change/password/">修改密码</a>
                    <a class="dropdown-item text-secondary" href="{{rootUrl}}/api/change/email/">修改邮箱</a>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-sm">退出登录</button>
        </form>
    </div>
</nav>
<div class="bg-white border rounded d-block p-4 h-auto w-95 ml-2 mr-2 flex-column d-flex justify-content-around"
     style="margin-top: 60px;">
    <div></div>
    <div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">工单编号</th>
                <th scope="col">工单标题</th>
                <th scope="col">创建时间</th>
                <th scope="col">创建人</th>
                <th scope="col">#</th>
            </tr>
            </thead>
            <tbody>
            {% for ticket in all_ticket%}
            <tr>
                {% if ticket.ticket_show_id != ''%}
                <th scope="col">{{ticket.ticket_show_id}}</th>
                {% else %}
                <th scope="col">{{ticket.ticket_id}}</th>
                {% endif %}
                <td>{{ticket.ticket_title}}</td>
                <td>{{ticket.create_time}}</td>
                <td>{{ticket.ticket_create_user}}</td>
                <td><a
                        href="{{rootUrl}}/api/ticket/detail/?ticket_id={{ticket.ticket_id}}">查看详情</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}