{% extends "ticket/base_site.html" %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">首页</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    工单列表
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item"
                       href="{{rootUrl}}/api/ticket/myticket/?page=1&status=4&dateType=100">我的工单</a>
                    <a class="dropdown-item" href="{{rootUrl}}/api/ticket/list/?page=1&status=4&dateType=100">工单列表</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarTicket" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    工单设置
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">工单模型</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="{{rootUrl}}/api/logout/">
            <span class="navbar-text" style="margin-right: 30px;">
      您好，{{ user.nickname }}
    </span>
            <button type="submit" class="btn btn-primary btn-sm">退出登录</button>
        </form>
    </div>
</nav>
<div class="bg-white border rounded d-block p-4 h-auto w-95 mt-4 ml-2 mr-2 flex-row d-flex justify-content-around">
    <div class="d-flex flex-column bd-highlight w-50 mr-3 border border-primary shadow-sm bg-white rounded">
        <div class="w-100 text-center bg-primary" style="height: 40px;">
            <p class="text-white pt-2">未解决工单</p>
        </div>
        {% for actions_ticket in actions_tickets%}
        <div class="w-100 text-left bg-white" style="height: 40px;">
            <p class="text-white pt-2 border-bottom pl-3" style="height: 40px;"><a
                    href="{{rootUrl}}/api/ticket/server/detail/?ticket_id={{actions_ticket.ticket_id}}">{{actions_ticket.ticket_title}}</a>
            </p>
        </div>
        {% endfor %}
    </div>
    <div class="d-flex flex-column bd-highlight w-50 mr-3 border border-success shadow-sm bg-white rounded">
        <div class="w-100 text-center bg-success" style="height: 40px;">
            <p class="text-white pt-2">已完成工单</p>
        </div>
        {% for done_ticket in done_tickets%}
        <div class="w-100 text-left bg-white" style="height: 40px;">
            <p class="text-white pt-2 border-bottom pl-3" style="height: 40px;"><a
                    href="{{rootUrl}}/api/ticket/server/detail/?ticket_id={{done_ticket.ticket_id}}">{{done_ticket.ticket_title}}</a>
            </p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}