<!DOCTYPE html>
<html>
<head>
    <script src="../../../../static/lib/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
    <script src='https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/jquery.validate.js'></script>
    <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#hide").click(function () {
                $("p").hide();
                $("#transfer").hide()
            });
            $("#show").click(function () {
                $("p").show();
                $("#transfer").show()
            });
        });
    </script>
</head>
<body>
<p id="p1">如果点击“隐藏”按钮，我就会消失。</p>
<div id="transfer">
            <div class="flex-column mt-2 mb-2">
                <label for="exampleFormControlSelect2">部门选择</label>
                <select class=" custom-select" id="inputGroupSelect01">
                    <option selected>选择部门</option>
                    {% for department in departments %}
                    <option value="{{department.partment_code}}">{{department.partment_desc}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect2">人员列表</label>
                <select multiple class="form-control" id="exampleFormControlSelect2" name="ticket_listsort" required>
                    {% for user in users %}
                    <option>{{user.nickname}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="selectUser">已选择人员</label>
                <div class="d-flex flex-row bd-highlight mb-3" id="selectUser">
                </div>
            </div>
        </div>
<button id="hide" type="button">隐藏</button>
<button id="show" type="button">显示</button>
</body>
</html>
