{% extends "ticket/base_site.html" %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{rootUrl}}/api/ticket/create/">提交工单</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    工单列表
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{rootUrl}}/api/ticket/myticket/?page=1&status=4&dateType=100">我的工单</a>
                    <a class="dropdown-item" href="{{rootUrl}}/api/ticket/list/?page=1&status=4&dateType=100">工单列表</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarTicket" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    工单设置
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">工单模型</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="../logout/">
        <span class="navbar-text" style="margin-right: 30px;">
      您好，{{ user.nickname }}
    </span>
            <button type="submit" class="btn btn-primary btn-sm">退出登录</button>
        </form>
    </div>
</nav>
<div class="bg-white border rounded d-block p-4 h-auto w-95 mt-4 ml-2 mr-2">
    <nav aria-label="breadcrumb">
        {% if ticket_id %}
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{rootUrl}}/api/ticket/create/">选择问题类型</a></li>
            <li class="breadcrumb-item"><a href="{{rootUrl}}/api/ticket/create/?category_id={{category_id}}">选择对应工单</a></li>
            <li class="breadcrumb-item active" aria-current="page">创建工单</li>
        </ol>
        {% elif category_id %}
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{rootUrl}}/api/ticket/create/">选择问题类型</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a
                    href="/api/ticket/create/?category_id={{category_id}}">选择对应工单</a></li>
        </ol>
        {% else %}
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><a href="{{rootUrl}}/api/ticket/create/">选择问题类型</a></li>
        </ol>
        {%endif%}
    </nav>
    <div class="d-flex flex-row">
        {% if ticket_id %}
        <form class="w-100" action="{{location.href}}" method="POST" id="ticketForm">
            <div class="form-group">
                <label for="exampleFormControlInput1">问题工单</label>
                <input class="form-control" type="text" id="exampleFormControlInput1"
                       placeholder="{{ticket.ticket_model}}-{{ticket.ticket_model_name}}"
                       name="ticket_model" readonly>
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput2">问题标题</label>
                <input class="form-control" type="text" id="exampleFormControlInput2" placeholder="Default input"
                       name="ticket_title">
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">问题详细描述</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                          name="ticket_desc"></textarea>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" name="ticket_lev">
                <label class="form-check-label" for="defaultCheck1">
                    是否紧急
                </label>
            </div>
            <div class="flex-column mt-2 mb-2">
                <label for="exampleFormControlSelect2">部门选择</label>
                <select class=" custom-select" id="inputGroupSelect01">
                    <option selected>选择部门</option>
                    {% for department in departments %}
                    <option value="{{department.partment_code}}">{{department.partment_desc}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect2">流程处理</label>
                <select multiple class="form-control" id="exampleFormControlSelect2" name="ticket_listsort">
                    {% for user in users %}
                    <option>{{user.nickname}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect3">已选择人员</label>
                <div class="d-flex flex-row bd-highlight mb-3" id="selectUser">
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        {% elif category_id %}
        {% for ticket in tickets %}
        <button type="button" class="btn btn-light" id="ticket_button"
                onclick="ticketClick('{{ticket.ticket_id}}')">
            <div class="card bg-light" style="width: 18rem; height: 9rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ ticket.ticket_model_name }}</h5>
                    <p class="card-text text-black-50">{{ ticket.ticket_model_desc }}</p>
                </div>
            </div>
        </button>
        {% endfor %}
        {% else %}
        {% for category in catgorys %}
        <button type="button" class="btn btn-light" id="category_button"
                onclick="categoryClick('{{category.category_id}}')">
            <div class="card bg-light" style="width: 18rem; height: 9rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ category.category_name }}</h5>
                    <p class="card-text text-black-50">{{ category.category_desc }}</p>
                </div>
            </div>
        </button>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}
{% block js %}
<script>

    function categoryClick(category_id) {
        var get_url = location.href + '?category_id=' + category_id
        window.location.href = get_url;
    }

    function ticketClick(ticket_model_id) {
        var get_url = location.href + "&ticket_id=" + ticket_model_id
        window.location.href = get_url;
    }

    $("select#inputGroupSelect01").change(function () {
        var getdata = {"department_code": $(this).val()}
        var get_url = '../../../api/ticket/create/department/user/'
        $.ajax({
            url: get_url,
            type: "GET",
            data: getdata,
            success: function (res) {
                console.log(res['user_list'].length)
                var strs = ''
                $("#exampleFormControlSelect2").empty();
                for (var i = 0; i < res['user_list'].length; i++) {
                    var user = res['user_list'][i]
                    var nickname = user["nickname"]
                    var user_id = user["user_id"]
                    strs = strs + "<option value=" + user_id + ">" + nickname + "</option>"
                }
                $("#exampleFormControlSelect2").html(strs);

            }
        });
    });

    $("select#exampleFormControlSelect2").change(function () {
        var users = []
        var obj = document.getElementById("exampleFormControlSelect2");
        console.log(obj)
        console.log(document.getElementById("selectData"));

        for (var i = 0; i < obj.options.length; i++) {
            if (obj.options[i].selected) {
                var user = {'user_id': obj.options[i].value, 'nickname': obj.options[i].text}
                users.push(user);// 收集选中项
            }
        }
        var strs = ''
        for (var i = 0; i < users.length; i++) {
            var nickname = users[i]['nickname']
            var user_id = users[i]['user_id']
            strs = strs + "<options id='selectData' class='p-2 bd-highlight' value=" + user_id + ">" + nickname + "</options>"
        }
        $("#selectUser").html(strs)

    });

</script>

{% endblock %}